
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.allura-regular {
  font-family: "Allura";
  font-weight: 200;
  font-size: 7rem;
  font-style: normal;
}


/* Shared Styles */

body{
    background-color: black;
}

header{
     background-image: linear-gradient(180deg, black, #302f2f, black);
     
}

#display-flex{
    display: flex;
}

/* Nav related styles */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.fitness{
    font-size: 2.25rem;
    font-weight: bolder;
    font-style: italic;
    color: #E6533C;
}

nav ul {
    display: flex;
    gap: 30px;
    padding: 2.5px;
    border: 1px solid rgb(54, 53, 53);
    border-radius: 39px;
}

nav ul li{
    list-style: none;
    padding: 5px 12px;
}

nav li a{
    font-size: 1rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.671);
}


.home{
    background-color: #E6533C;
    border-radius: 39px;
    font-weight: 500;
}

#home-color{
    color: white;
}

/* Banner related styles */

.banner{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

.banner-title{
    font-size: 4.8rem;
    font-weight: bold;
    padding: 0px;
    margin-bottom: 0px;
    color: white;
}

.banner-description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}

.banner-btn{
    max-width: 224px;
    max-height: 54px;
    padding: 12px 35px;
    font-size: 1rem;
    text-decoration: none;
    background-color: #E6533C;
    color: white;
    border: none;
    border-radius: 42px;
    font-weight: 500;
    cursor: pointer;
}

.download{
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.banner-pic{
    padding: 0px;
    margin: 0px;
}

/* Banner pic button number- 1 */

.banner-pic-btn-1{
    display: flex;
    align-items: center;
    text-align: start;
    margin-left: -80px;
    margin-top: -160px;
    padding: 10px;
    background: rgba(146, 146, 146, 0.062); /* Semi-transparent white */
    backdrop-filter: blur(9px); /* Blur the background behind */
    border: 1px solid rgba(255, 255, 255, 0.116); 
    border-radius: 12px;
    cursor: pointer;
}

.ball{
    border: none;
    border-radius: 50%;
    background-color: #E6533C;
    padding: 8px 10px; 
    margin: 15px 10px 10px 0px;
}

#tutorial-vid-num{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 60px;
    color: white;
}

#vid-tutorial{
    color: rgba(239, 237, 232, 0.61);
    font-size: 0.90rem;
    font-weight: normal;
}


/* Banner pic button number- 2 */

.btn-2-cont{
    margin-left: 250px;
    margin-top: -360px;
}

.banner-pic-btn-2{
    padding: 10px 10px;
    text-align: start;
    background: rgba(255, 255, 255, 0.034); /* Semi-transparent white */
    backdrop-filter: blur(9px);  /* Blur the background behind */
    border: 1px solid rgba(255, 255, 255, 0.116);
    border-radius: 12px;
    cursor: pointer;
}

#workout-vid-num{
    font-size: 2rem;
    font-weight: 800;
    color: white;
}

#free-workout{
    color: rgba(239, 237, 232, 0.61);
    font-weight:100;
}



@media screen and (max-width: 576px) {
 
    nav{
        flex-direction: column;
    }

}